## Final Project: Foundation of Computer Science

2025-26 Project
You have to work on the Trending YouTube dataset.

Notes
It is mandatory to use GitHub for developing the project.
The project must be a jupyter notebook.
There is no restriction on the libraries that can be used, nor on the Python version.
All questions on the project must be asked in the Discussion forum on the course website.
At most 3 students can be in each group. You must create the groups by yourself. You can use the Discussion forum to create the groups.
You do not have to send me the project before the discussion.
You do not have to prepare any slides for the discussion.
You can use AI tools, but you have to describe in the notebook how you have used such tools and you have to show that you have fully understood everything that you have in your project.

--------------------------------

In [1]:
import pandas as pd
import re
import json
import zstandard as zstd
import io
import numpy as np

In [2]:
countries = ["CA", "DE", "FR", "GB", "IN", "JP", "KR", "MX", "RU", "US"]
dfs = {}
for element in countries:
    path = fr"C:\Users\chiar\OneDrive\Desktop\foundation of computer science\trendingYT\{element}videos.csv.zst"
    print("Reading:", path)

    with open(path, "rb") as f: # "rb" opens the file in "read binary" mode, it is necessary because the files ar compressed
        dctx = zstd.ZstdDecompressor()
        decompressed = dctx.decompress(f.read()) # decompression using zstd library

        text = decompressed.decode("utf-8", errors="replace") # decoding with utf-8 that is suitable for all lenguages and special characters

        dfs[element] = pd.read_csv(io.StringIO(text)) # dictionary with all datasets

    dfs[element]["country"] = element # adding the "country" column

Reading: C:\Users\chiar\OneDrive\Desktop\foundation of computer science\trendingYT\CAvideos.csv.zst
Reading: C:\Users\chiar\OneDrive\Desktop\foundation of computer science\trendingYT\DEvideos.csv.zst
Reading: C:\Users\chiar\OneDrive\Desktop\foundation of computer science\trendingYT\FRvideos.csv.zst
Reading: C:\Users\chiar\OneDrive\Desktop\foundation of computer science\trendingYT\GBvideos.csv.zst
Reading: C:\Users\chiar\OneDrive\Desktop\foundation of computer science\trendingYT\INvideos.csv.zst
Reading: C:\Users\chiar\OneDrive\Desktop\foundation of computer science\trendingYT\JPvideos.csv.zst
Reading: C:\Users\chiar\OneDrive\Desktop\foundation of computer science\trendingYT\KRvideos.csv.zst
Reading: C:\Users\chiar\OneDrive\Desktop\foundation of computer science\trendingYT\MXvideos.csv.zst
Reading: C:\Users\chiar\OneDrive\Desktop\foundation of computer science\trendingYT\RUvideos.csv.zst
Reading: C:\Users\chiar\OneDrive\Desktop\foundation of computer science\trendingYT\USvideos.csv.zst

---------------------------

#### 1. Create a single dataframe with the concatenation of all input csv files, adding a column called country

In [4]:
df_all = pd.concat(dfs.values(), ignore_index=True) # concatenation of all datasets from the dictionary
df_all.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. BeyoncÃ©,EminemVEVO,10,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. BeyoncÃ© i...,CA
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...,CA
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146035,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO â–¶ \n\nSUBSCRIBE â–º http...,CA
3,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095828,132239,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,CA
4,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09T11:04:14.000Z,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634130,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,ðŸŽ§: https://ad.gt/yt-perfect\nðŸ’°: https://atlant...,CA

In [5]:
df_all.describe()

         category_id         views         likes      dislikes  comment_count
count  375942.000000  3.759420e+05  3.759420e+05  3.759420e+05   3.759420e+05
mean       20.232302  1.326568e+06  3.788431e+04  2.126107e+03   4.253775e+03
std         7.132413  7.098568e+06  1.654131e+05  2.248437e+04   2.545876e+04
min         1.000000  1.170000e+02  0.000000e+00  0.000000e+00   0.000000e+00
25%        17.000000  4.697800e+04  6.690000e+02  4.100000e+01   1.090000e+02
50%        23.000000  1.773705e+05  3.446000e+03  1.790000e+02   5.110000e+02
75%        24.000000  6.476792e+05  1.747650e+04  7.490000e+02   2.011000e+03
max        44.000000  4.245389e+08  5.613827e+06  1.944971e+06   1.626501e+06

In [6]:
df_all_d = df_all.drop_duplicates() # dropping all duplicates
print(f"""Initial dataset dimensions: {df_all.shape}\n 
Dataset with no duplicates dimensions: {df_all_d.shape}\n
Number of duplicate rows: {df_all.shape[0]-df_all_d.shape[0]}""") #12570 rows duplicate

Initial dataset dimensions: (375942, 17)

Dataset with no duplicates dimensions: (363372, 17)

Number of duplicate rows: 12570

In [7]:
df_all_d = df_all_d.copy()

In [8]:
df_all_d.isnull().sum() #18681 nulls in description

video_id                      0
trending_date                 0
title                         0
channel_title                 0
category_id                   0
publish_time                  0
tags                          0
views                         0
likes                         0
dislikes                      0
comment_count                 0
thumbnail_link                0
comments_disabled             0
ratings_disabled              0
video_error_or_removed        0
description               18681
country                       0
dtype: int64

----------------------------------------------

#### 2. Extract all videos that have no tag.

In [9]:
conteggio = df_all_d["tags"].value_counts()
print(conteggio[conteggio > 1])

tags
[none]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           36221
ÑˆÐ°Ñ€Ð¸Ð¹|"ÑˆÐ°Ñ€Ð¸Ð¹ Ð±Ð»Ð¾Ð³"|"Ð½Ð¾Ð²Ð¾Ðµ Ð²Ð¸Ð´ÐµÐ¾ ÑˆÐ°Ñ€Ð¸Ð¹"|"ÑˆÐ°Ñ€Ð¸Ð¹ Ð½Ð¾Ð²Ð¾Ðµ"|"Ð°Ð½Ð°Ñ‚Ð¾Ð»Ð¸Ð¹ ÑˆÐ°Ñ€Ð¸Ð¹"|"ÑˆÐ°Ñ€Ð¸Ð¹ Ð°Ð½Ð°Ñ‚Ð¾Ð»Ð¸Ð¹"|"ifhbq"|"Ð²Ð¸Ð´ÐµÐ¾ ÑˆÐ°Ñ€Ð¸Ñ"|"Ñ‚Ð¾Ð»Ñ ÑˆÐ°Ñ€Ð¸Ð¹"                                                                                                                                                                                                                                                                                                                                                                                          353
The Late Show|"Stephen Colbert"|"Colbert"|"Late Show"|"celebrities"|"late night"|"talk show"|"skits"|"bit"|"monologue"|"The Late Late Show"|"Late Late Show"|"letterman"|"david letterman"|"comedian"|"impressions"|"CBS"|"joke"|"jokes"|"funny"|"funny video"|"funny videos"|"humor"|"celebrity"|"celeb"|"hollywood"|"famous"|"James Corden"|"Corden"|"Comedy"                                                                                                                                                    341
Vaani rani|"rani"|"Radhika in funny character"|"venu aravind"|"SunTV"|"VaniRani"|"vani"|"vaani"|"Radhika's dual role serial"|"Ranimma veetu kuripu"|"Radhika as lawyer in serial"|"radikaa"|"rathika"|"Radhika's new"                                                                                                                                                                                                                                                                                              304
best vines 2018|"funny vines"|"funny videos"|"funniest videos 2018"                                                                                                                                                                                                                                                                                                                                                                                                                                                247
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ...
Die 7 gefÃ¤hrlichsten und STÃ„RKSTEN SCHARFSCHÃœTZENGEWEHRE der Welt|"Die 7 gefÃ¤hrlichsten und STÃ„RKSTEN SCHARFSCHÃœTZENGEWEHRE aller Zeiten"|"Unglaubliche Fakten zu ScharfschÃ¼tzen"|"die groÃŸartigsten Szenen in Filmen"|"10 ScharfschÃ¼tzen in Filmen"|"der beste ScharfschÃ¼tzenfilm"|"die besten ScharfschÃ¼tzengewehre der Welt"|"die besten ScharfschÃ¼tzen der Geschichte"|"die gefÃ¤hrlichsten ScharfschÃ¼tzen der Welt"|"ScharfschÃ¼tzenschuss aus der grÃ¶ÃŸten Entfernung"|"der lÃ¤ngste ScharfschÃ¼tzenschuss."        2
ÐÐ°Ð²Ð°Ð»ÑŒÐ½Ñ‹Ð¹|"Ð’Ð¾Ð»ÐºÐ¾Ð²"|"Ð¿Ð¾Ð»Ð¸Ñ‚Ð¸ÐºÐ°"|"Ð²Ñ‹Ð±Ð¾Ñ€Ñ‹"|"Ð¾Ð¿Ð¿Ð¾Ð·Ð¸Ñ†Ð¸Ñ"|"Ð”Ð¸Ð¼Ð¾Ð½"|"Ð”Ð¸Ð¼Ð¾Ð½ÐžÑ‚Ð²ÐµÑ‚Ð¸Ñ‚"|"ÐœÐµÐ´Ð²ÐµÐ´ÐµÐ²"|"ÐºÐ¾Ñ€Ñ€ÑƒÐ¿Ñ†Ð¸Ñ"|"ÐÐ»ÐµÐºÑÐµÐ¹ ÐÐ°Ð²Ð°Ð»ÑŒÐ½Ñ‹Ð¹"|"ÑÐºÐ¾Ð½Ð¾Ð¼Ð¸ÐºÐ°"|"ÐºÑ€Ð¸Ð·Ð¸Ñ"|"Ð½ÐµÑ„Ñ‚ÑŒ"|"Ð±ÐµÐ½Ð·Ð¸Ð½"|"Ð°ÐºÑ†Ð¸Ð·Ñ‹"|"Ñ€ÐµÐ·ÐµÑ€Ð²Ð½Ñ‹Ð¹ Ñ„Ð¾Ð½Ð´"|"Ð¸Ñ€Ð°Ð½"|"Ð¿Ñ€Ð¾Ñ‚ÐµÑÑ‚Ñ‹"                                                                                                                                                                                                                                                                                                               2
kochen|"backen"|"sally"|"gnocchi"|"Basic"|"Grundrezept"|"Beilage"|"Kartoffelnocken"|"Suppeneinlage"|"Hauptgericht"|"Pasta"|"Nudeln"|"Nudel"                                                                                                                                                                                                                                                                                                                                                                          2
tamil news|"newsglitz"|"paari saalan illuminati"|"paari saalan latest speech"|"paari saalan speech"|"paari saalan interview"|"sterlite"|"sterlite tuticorin"|"sterlite tuticorin protest"|"sterlite tuticorin news"|"sterlite tuticorin power plant"|"sterlite protest in tuticorin"|"sterlite protest"|"protest in tuticorin"|"tuticorin sterlite protest"|"tuticorin sterlite factory issue"|"tuticorin protest"|"tuticorin protest against sterlite"|"illumunati"                                                 2
ÑŽÐ¼Ð¾Ñ€|"ÐºÐ¾Ð¼ÐµÐ´Ð¸Ñ"|"Ð²Ð»Ð¾Ð³"|"Ð±Ð»Ð¾Ð³"|"ÑÐ¼ÐµÑˆÐ½Ð¾"|"ÑÐ¼ÐµÑˆÐ½Ð¾Ðµ"|"juliusspeak"|"julius speak"|"Ð´Ð¶ÑƒÐ»Ð¸ÑƒÑ ÑÐ¿Ð¸Ðº"|"ÑŽÐ»Ð¸Ðº"|"ÑˆÑƒÑ‚ÐºÐ¸"|"Ð¿Ñ€Ð¸ÐºÐ¾Ð»Ñ‹"|"Ð²Ð¸Ð´ÐµÐ¾Ð¿Ñ€Ð¸ÐºÐ¾Ð»Ñ‹"|"Ð¿Ð¾ÑˆÐ»Ð°Ñ Ð¼Ð¾Ð»Ð»Ð¸"|"ÐºÐ°Ð²ÐµÑ€"                                                                                                                                                                                                                                                                                                                                                           2
Name: count, Length: 53349, dtype: int64

In [10]:
df_notag = df_all_d[df_all_d['tags'] == '[none]']
print("The rows with the tag '[none]' are:", len(df_notag)) #36221 no tag rows

The rows with the tag '[none]' are: 36221

--------------------------

#### 3. For each channel, determine the total number of views

In [11]:
df_all_d.groupby(df_all_d["channel_title"])[["views"]].sum().reset_index().sort_values("views", ascending=[False])[:10] #group by channel title (as a column not an index), sum the views and order

              channel_title        views
4564    ChildishGambinoVEVO  10900185104
15536  Marvel Entertainment  10120133557
17726            NickyJamTV   9479859505
18466                 Ozuna   8623329509
28412               ibighit   7644304297
6689              DrakeVEVO   7637228580
2788              Bad Bunny   7124207494
2101       ArianaGrandeVevo   6202230488
28621      jypentertainment   5790924646
7047             Ed Sheeran   5720351497

-----------------------

#### 4. Save all rows with disabled comments and disabled ratings, or that have video_error_or_removed in a new dataframe called excluded, and remove those rows from the original dataframe.

In [12]:
condizione = ((df_all_d["comments_disabled"] == True) & (df_all_d["ratings_disabled"] == True)) | (df_all_d["video_error_or_removed"] == True) #True Ã¨ ridondante
excluded = df_all_d[condizione]
df_all_e= df_all_d[~condizione]

In [13]:
df_all_e = df_all_e.copy()

In [14]:
print(f"""Initial dataset dimensions: {df_all_d.shape}\n
Dataset with no excluded dimensions: {df_all_e.shape}\n
Excluded dataset dimensions: {excluded.shape}""")

Initial dataset dimensions: (363372, 17)

Dataset with no excluded dimensions: (360934, 17)

Excluded dataset dimensions: (2438, 17)

-----------------------

#### 5. Add a like_ratio column storing the ratio between the number of likes and of dislikes

In [15]:
df_all_e[["likes", "dislikes"]].eq(0).sum() # we have many 0 in like and dislike that will cause problems

likes       4643
dislikes    6974
dtype: int64

In [16]:
df_all_e["like_ratio"] = df_all_e["likes"] / df_all_e["dislikes"] 
pd.Series({
    "inf": np.isinf(df_all_e["like_ratio"]).sum(), # inf happens when dislike = 0 and like is not 0
    "nan": df_all_e["like_ratio"].isna().sum() # nan happens when like and dislike ara 0
})

inf    2355
nan    4619
dtype: int64

In [17]:
df_all_norm = df_all_e.copy()
df_all_norm["like_ratio"] = df_all_norm["likes"] / (df_all_norm["likes"] + df_all_norm["dislikes"]) # to have no inf and nan we normalize the ratio
df_all_norm["like_ratio"].value_counts()

like_ratio
1.000000    2355
0.800000     283
0.875000     279
0.857143     256
0.900000     248
            ...
0.943302       1
0.925598       1
0.962228       1
0.964374       1
0.626394       1
Name: count, Length: 238073, dtype: int64

--------------------

#### 6. Cluster the publish time into 10-minute intervals (e.g. from 02:20 to 02:30)

In [18]:
df_all_norm["publish_time"] = pd.to_datetime(df_all_norm["publish_time"]) # changing the type to data

In [19]:
df_all_norm["time_interval_start"] = df_all_norm["publish_time"].dt.floor("10min").dt.strftime("%H:%M") # strftime("%H:%M") extract only the time and not the date
                                                                                                  # floor("10min") returns the closest time interval (17:19:30 -> 17:10)

In [20]:
df_all_norm["time_interval_start"].unique() # checking the time intervals

array(['17:00', '19:00', '18:00', '11:00', '07:30', '23:50', '17:10',
       '20:10', '14:10', '15:00', '16:00', '16:40', '22:00', '01:30',
       '14:00', '12:20', '21:50', '02:00', '00:20', '20:00', '18:20',
       '23:00', '15:50', '04:20', '00:40', '14:50', '19:30', '03:00',
       '22:50', '08:50', '05:50', '01:10', '15:30', '17:50', '05:30',
       '21:10', '06:10', '15:40', '18:30', '12:40', '16:20', '04:40',
       '11:20', '02:10', '16:50', '19:50', '04:30', '22:10', '13:30',
       '05:40', '07:10', '04:50', '13:40', '05:10', '11:30', '03:10',
       '21:40', '17:40', '21:20', '02:30', '23:40', '05:20', '06:40',
       '17:30', '07:00', '20:30', '23:20', '08:30', '00:00', '13:50',
       '13:20', '22:20', '05:00', '02:40', '16:10', '08:00', '17:20',
       '09:20', '11:50', '23:30', '11:10', '16:30', '01:40', '12:50',
       '14:30', '19:20', '21:00', '22:30', '13:00', '19:10', '18:10',
       '06:20', '14:40', '12:00', '20:40', '15:10', '21:30', '22:40',
       '15:20', '01:20', '12:10', '23:10', '10:50', '20:20', '04:10',
       '19:40', '00:10', '18:50', '01:00', '00:30', '03:20', '07:20',
       '14:20', '18:40', '09:30', '09:40', '12:30', '03:40', '03:30',
       '06:30', '07:40', '06:50', '06:00', '07:50', '09:50', '09:10',
       '09:00', '13:10', '20:50', '08:20', '10:20', '04:00', '03:50',
       '02:20', '00:50', '10:40', '08:40', '02:50', '10:00', '10:10',
       '01:50', '10:30', '08:10', '11:40'], dtype=object)

In [21]:
df_all_norm["time_interval_end"] = (
    pd.to_datetime(df_all_norm["time_interval_start"], format="%H:%M")
    + pd.Timedelta(minutes=10)
).dt.strftime("%H:%M")

In [22]:
df_all_norm.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,country,like_ratio,time_interval_start,time_interval_end
0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. BeyoncÃ©,EminemVEVO,10,2017-11-10 17:00:03+00:00,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579,787425,43420,125882,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. BeyoncÃ© i...,CA,0.947740,17:00,17:10
1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,2017-11-13 17:00:00+00:00,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651,127794,1688,13030,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...,CA,0.986963,17:00,17:10
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12 19:05:24+00:00,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146035,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO â–¶ \n\nSUBSCRIBE â–º http...,CA,0.964730,19:00,19:10
3,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12 18:01:41+00:00,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095828,132239,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...,CA,0.985182,18:00,18:10
4,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,2017-11-09 11:04:14+00:00,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622,1634130,21082,85067,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,ðŸŽ§: https://ad.gt/yt-perfect\nðŸ’°: https://atlant...,CA,0.987263,11:00,11:10

--------------------------

#### 7. For each interval, determine the number of videos, average number of likes and of dislikes.

In [24]:
df_all_norm.groupby("time_interval_start").agg(tot_video=("video_id", "count"), mean_likes=("likes", "mean"), mean_dislikes=("dislikes", "mean")).reset_index()[:10]

  time_interval_start  tot_video     mean_likes  mean_dislikes
0               00:00       2815   62978.858615    3910.595027
1               00:10       1468   23091.891689    1482.864441
2               00:20       1216   21799.714638    1092.886513
3               00:30       1552   38174.730026     977.468428
4               00:40       1227   43609.806031    1971.171149
5               00:50       1284   38478.238318    1623.239875
6               01:00       2647   16426.080091     755.600680
7               01:10       1349  106895.709414    5938.600445
8               01:20       1442   25672.203883    1728.871012
9               01:30       1584   13922.699495    6047.232323

---------------------

#### 8. For each tag, determine the number of videos
Notice that tags contains a string with several tags.

In [ ]:
diz_tag = {}

for riga in df_all_norm["tags"]:
    tags = riga.split("|") # split the string in the different tags
    
    for tag in tags:
        nome_tag = tag.strip().strip('"')
        
        if nome_tag == "" or nome_tag == "[none]": # we skipp [none] as it is not a real tag
            continue
        
        if nome_tag in diz_tag:
            diz_tag[nome_tag] += 1
        else:
            diz_tag[nome_tag] = 1

diz_tag

{'Eminem': 461,
 'Walk': 139,
 'On': 96,
 'Water': 108,
 'Aftermath/Shady/Interscope': 127,
 'Rap': 2293,
 'plush': 19,
 'bad unboxing': 20,
 'unboxing': 1259,
 'fan mail': 39,
 'idubbbztv': 38,
 'idubbbztv2': 33,
 'things': 105,
 'best': 1958,
 'packages': 13,
 'plushies': 22,
 'chontent chop': 9,
 'racist superman': 119,
 'rudy': 259,
 'mancuso': 210,
 'king': 188,
 'bach': 94,
 'racist': 120,
 'superman': 263,
 'love': 2141,
 'rudy mancuso poo bear black white official music video': 31,
 'iphone x by pineapple': 13,
 'lelepons': 674,
 'hannahstocking': 656,
 'rudymancuso': 656,
 'inanna': 588,
 'anwar': 646,
 'sarkis': 582,
 'shots': 686,
 'shotsstudios': 637,
 'alesso': 686,
 'anitta': 702,
 'brazil': 631,
 "Getting My Driver's License": 16,
 'Lele Pons': 176,
 'ryan': 510,
 'higa': 193,
 'higatv': 209,
 'nigahiga': 251,
 'i dare you': 13,
 'idy': 13,
 'rhpc': 17,
 'dares': 21,
 'no truth': 13,
 'comments': 104,
 'comedy': 11968,
 'funny': 14573,
 'stupid': 121,
 'fail': 1517,
 'edsheeran': 205,
 'ed sheeran': 544,
 'acoustic': 419,
 'live': 3734,
 'cover': 1142,
 'official': 2860,
 'remix': 739,
 'official video': 1046,
 'lyrics': 1065,
 'session': 351,
 '#DramaAlert': 145,
 'Drama': 831,
 'Alert': 150,
 'DramaAlert': 145,
 'keemstar': 165,
 'youtube news': 319,
 'jake paul': 411,
 'team 10': 179,
 'alissa violet': 51,
 'cheated': 3,
 'logan paul': 789,
 'logan paul alissa violet': 3,
 'jake paul alissa violet': 3,
 'Martinez Twins': 9,
 'left team 10': 4,
 'faze banks': 37,
 'erika costell': 43,
 'Funny Moments': 18,
 'Montage video games': 10,
 'gaming': 1112,
 'Vanoss': 14,
 'VanossGaming': 31,
 'Gameplay': 260,
 'Secret': 80,
 'Puncake': 10,
 'Parody': 274,
 'Comedy': 3126,
 'Remix': 186,
 'Epic': 285,
 'Trolling': 16,
 'Xbox One': 170,
 'MultiplayerPS4': 10,
 'Funtage': 10,
 'superhero school': 10,
 'vanoss superhero school': 10,
 'superhero': 740,
 'scool': 10,
 'school': 871,
 'super hero': 539,
 'vanoss gaming school': 10,
 'doc': 78,
 'documentary': 1201,
 'SHANtell martin': 18,
 'logan paul vlog': 257,
 'logan': 623,
 'paul': 657,
 'olympics': 754,
 'logan paul youtube': 271,
 'vlog': 3942,
 'daily': 1024,
 'hollywood': 2680,
 'parrot': 158,
 'maverick': 216,
 'bird': 316,
 'maverick clothes': 136,
 'logan paul dubai': 6,
 'dubai': 177,
 'logan paul uae': 6,
 'uae': 27,
 'logan paul meet and greet': 6,
 'logan paul meet up': 6,
 'logan paul dubai mall': 6,
 'the dubai mall': 6,
 'logan paul arab': 6,
 'arabic': 23,
 'arab': 47,
 'logan paul age': 6,
 'the maverick': 6,
 'maverick merch': 52,
 'God': 68,
 'Sheldon Cooper': 8,
 'Young Sheldon': 8,
 '21 savage': 204,
 'bank account': 48,
 '21 savage bank account': 3,
 'bank account 21 savage': 2,
 'bank account official': 2,
 'bank account 2017': 2,
 'bank account official music video': 3,
 'bank account music video': 3,
 '21 savage official': 2,
 '21 savage 2017': 2,
 '21 savage music': 2,
 '21 savage songs': 2,
 '21 savage music video': 2,
 '21 savage official music video': 2,
 'rap': 3044,
 'hip hop': 2067,
 'trap': 535,
 'music': 5845,
 'atlanta rap': 3,
 'atlanta': 161,
 'atlanta hip hop': 2,
 'atlanta trap': 2,
 'mike epps': 2,
 'sneak food': 23,
 'how to sneak food into class': 20,
 'class hacks': 37,
 'school food': 20,
 'food in class': 21,
 'sneak food into class': 20,
 'how to sneak food into school': 20,
 'take food to school': 20,
 'weird school supplies': 33,
 'school pranks': 41,
 'back to school': 231,
 'hide food': 25,
 'eating in class': 16,
 'ways to sneak food into class': 16,
 'how to sneak food in class': 16,
 'how to sneak food in school': 16,
 'best school pranks': 33,
 'back to school pranks': 57,
 'prank': 1406,
 'é›»è¦–åŠ‡': 250,
 'å¤§é™¸é›»è¦–åŠ‡': 195,
 'çŒŽåœº': 95,
 'èŒåœº': 81,
 'å•†æˆ˜': 75,
 'çˆ±æƒ…': 107,
 'éƒ½å¸‚': 164,
 'èƒ¡æ­Œ': 94,
 'é™ˆé¾™': 97,
 'å­™çº¢é›·': 122,
 'å¼ å˜‰è¯‘': 145,
 'ç¥–å³°': 78,
 'æŽå¼º': 75,
 'èƒ¡å…µ': 77,
 'è…çº«å§¿': 78,
 'ä¸‡èŒœ': 78,
 'ç« é¾„ä¹‹': 77,
 'å¾é˜': 75,
 'æŸ¯è“': 90,
 'ç½—æµ·ç¼': 87,
 'çŽ‹èŒœ': 75,
 'è‘£å‹‡': 76,
 'èµµç«‹æ–°': 76,
 'huge': 417,
 'chenlong': 75,
 'sunhonglei': 91,
 'zhangjiayi': 110,
 'zufeng': 75,
 'liqiang': 75,
 'hubing': 75,
 'wanqian': 75,
 'zhanglingzhi': 75,
 'zhaolixin': 75,
 'punjabi songs': 1086,
 'punjabi bhangra': 340,
 'punjabi music': 660,
 'punjabi bhangra music': 301,
 'punjabi latest songs': 554,
 'punjabi romantic songs': 446,
 'punjabi sad songs': 297,
 'punjabi': 708,
 'bhangra': 323,
 'latest punjabi songs 2017': 295,
 'punjab': 437,
 'desi': 684,
 'speed records': 319,
 'mankirt new song': 8,
 'daang': 8,
 'sukh sanghera': 12,
 'deep kahlon': 8,
 'mankirt aulakh': 49,
 'twitter': 539,
 'top 10': 1898,
 'Taylor Swift': 385,
 'YOUTUBERS REACT TO TOP 10 MOST FOLLOWED TWITTER ACCOUNTS': 4,
 'Rihanna': 282,
 'Cristiano Ronaldo': 523,
 'Lady Gaga': 92,
 'Katy Perry': 124,
 'Justin Timberlake': 275,
 'Justin Bieber': 126,
 'Barack Obama': 111,
 'Ellen DeGeneres': 33,
 'reacts': 418,
 'reaction': 2638,
 'reactions': 541,
 'youtubers react': 559,
 'thefinebros': 990,
 'fine brothers': 999,
 'fine brothers entertainment': 1002,
 'FBE': 972,
 'reviews': 932,
 'teens react': 664,
 'kids react': 699,
 'adults react': 522,
 'iisuperwomanii': 241,
 'merrelltwins': 32,
 'dangmattsmith': 7,
 'CollinsKey': 4,
 'youtubers': 579,
 'react': 1660,
 'elders react': 682,
 'watch': 927,
 'fine bros': 712,
 'buzzfeed': 772,
 'buzzfeedblue': 26,
 'outsmarted': 2,
 'outsmart': 2,
 'mi6': 6,
 'spy': 110,
 'agent': 48,
 'operative': 3,
 'disappear': 24,
 'escape': 114,
 'run': 255,
 'outrun': 3,
 'mike': 174,
 'chase': 31,
 'hide': 15,
 'disguise': 2,
 'pregnant': 316,
 'danger': 130,
 'unscripted': 6,
 'private': 9,
 'investigator': 12,
 'pi': 14,
 'detective': 114,
 'escaping': 2,
 'espionage': 17,
 'investigation': 590,
 'challenge': 2664,
 'pranks': 358,
 'nelk': 28,
 'nelkfilmz': 24,
 'nelkfilms': 24,
 'Graham Norton': 304,
 'Graham Norton Show Official': 291,
 'Entertainment': 1825,
 'Chat Show': 294,
 'Graham Norton full episodes': 57,
 'the graham Norton show full eps': 57,
 'graham Norton full eps': 57,
 'watch graham Norton online': 57,
 'jason momoa': 39,
 'hugh grant': 13,
 'sarah millican': 13,
 'kelly clarkson': 252,
 'graham norton red chair': 13,
 'game of thrones': 143,
 'Rooster Teeth': 216,
 'RT': 424,
 'animation': 1979,
 'television': 4011,
 'filmmaking': 239,
 'games': 1766,
 'video games': 510,
 'comics': 966,
 'austin': 311,
 'texas': 312,
 'production': 315,
 'movies': 1970,
 'web series': 588,
 'RTAA': 72,
 'Animated Adventures': 72,
 'animated': 835,
 'stick figures': 72,
 'short': 220,
 'sketch': 2296,
 'skit': 376,
 'humor': 5026,
 'real life animated': 72,
 'jordan cwierz': 72,
 'storytelling': 210,
 'personal': 90,
 'embarrassing': 139,
 'history': 525,
 'Miles Luna': 26,
 'Chris Demarais': 12,
 'Blain Gibson': 1,
 'Barbara Dunkelman': 29,
 'drunk': 132,
 'babysitting': 8,
 'barf': 4,
 'sick': 36,
 'tipsy': 24,
 'kicking': 9,
 'ashley': 35,
 'punching': 1,
 'Jessica': 10,
 'Ellie': 18,
 'work': 149,
 'trust': 8,
 'friendship': 308,
 'you know what i mean': 1,
 'sleep': 195,
 'sharry mann': 48,
 'sharry mann new song': 19,
 'sharry mann cute munda': 8,
 'sharry mann latest song': 28,
 'sharry mann punjabi song 2017': 8,
 'parmish verma': 154,
 'parmish verma new song': 65,
 'parmish verma sharry mann': 28,
 'parmish verma sharry mann new song': 8,
 'parmish verma cute munda': 8,
 'new punjabi song 2017': 42,
 'punjabi song 2017': 54,
 'parmish verma new song 2017': 8,
 'parmish verma latest song 2017': 18,
 'punjabi songs 2017': 117,
 '5 Ice Cream Gadgets': 15,
 'Ice Cream': 22,
 'Cream Sandwich Maker': 9,
 'gadgets': 324,
 'gadget review': 9,
 'review': 4021,
 'kitchen gadgets': 64,
 'Gadgets put to the Test': 64,
 'testing': 163,
 '10 Kitchen Gadgets': 43,
 '7 Camping Coffee Gadgets': 9,
 '10 Kitchen Gadgets put to the Test': 34,
 'rhett and link': 571,
 'gmm': 423,
 'good mythical morning': 425,
 'rhett and link good mythical morning': 382,
 'good mythical morning rhett and link': 382,
 'mythical morning': 405,
 'Season 12': 129,
 'nickelback lyrics': 8,
 'nickelback lyrics real or fake': 8,
 'nickelback': 10,
 'nickelback songs': 9,
 'nickelback song': 8,
 'rhett link nickelback': 8,
 'gmm nickelback': 8,
 'lyrics (website category)': 8,
 'nickelback (musical group)': 8,
 'rock': 407,
 'chad kroeger': 8,
 'canada': 452,
 'music (industry)': 8,
 'mythical': 417,
 'gmm challenge': 23,
 'smart girl': 4,
 'girl': 422,
 'how to': 3236,
 'smart girl shows': 4,
 'how to make': 761,
 'how to build': 7,
 'candy': 441,
 'dispenser': 20,
 'family friendly': 1962,
 'for family': 5,
 'for kids': 292,
 'kids': 1571,
 'candy dispenser': 6,
 'spring': 371,
 'popsicle stick': 10,
 "m&m's": 10,
 'skittles': 34,
 'tic tac': 56,
 'tic-tac': 26,
 'nerds': 20,
 'craft': 212,
 'crafting': 62,
 'girl shows': 4,
 'smart': 159,
 'idea': 117,
 'great idea': 4,
 'bright idea': 4,
 'the q': 9,
 'Jake': 186,
 'Paul': 281,
 'its': 153,
 'every': 332,
 'day': 514,
 'Team': 215,
 '10': 706,
 'bro': 256,
 'wow': 483,
 'crazy': 954,
 'adventure': 881,
 'disney': 1278,
 'channel': 600,
 'girls': 635,
 'vine': 572,
 'hot': 463,
 'cool': 674,
 'fun': 2714,
 'team': 614,
 'lucas': 184,
 'marcus': 129,
 'dobre': 126,
 'actor': 928,
 'star': 968,
 'brothers': 283,
 'bizaardvark': 148,
 'tv': 3414,
 'sexy': 417,
 'skits': 649,
 'instagram': 1075,
 'facebook': 802,
 'logang': 251,
 'jakepaulers': 167,
 'family': 1976,
 'friendly': 334,
 'pg': 298,
 'tai': 119,
 'lopez': 156,
 'erika': 185,
 'costell': 148,
 'saturday': 28,
 'night': 565,
 'video': 5536,
 'chad': 7,
 'tepper': 7,
 'nick': 259,
 'crompton': 29,
 'england': 162,
 'city': 139,
 'new': 2930,
 'beat': 204,
 'track': 224,
 '80s': 142,
 'dance': 1592,
 'spotify': 182,
 'album': 654,
 'single': 345,
 'itunes': 76,
 '80s music': 14,
 '80s songs': 6,
 'madonna': 35,
 'DO COLLEGE KIDS KNOW 80s MUSIC? #8 REACT: Do They Know It': 2,
 'do they know it': 453,
 'finebros': 667,
 'laugh challenge': 467,
 'try not to laugh': 657,
 'try to watch without laughing or grinning': 310,
 'react gaming': 431,
 'kids versus food': 442,
 'staff reacts': 422,
 'lyric breakdown': 454,
 'Do Teens Know': 142,
 'Do Parents Know': 142,
 'Do Kids Know': 142,
 'Do Elders Know': 142,
 'stevie wonder': 8,
 '80s music hits': 7,
 "80's": 6,
 'wrestling': 1008,
 'ufc': 722,
 'mma': 619,
 'youtube': 2486,
 'wwe': 1055,
 'conor': 36,
 'mcgregor': 56,
 'floyd': 7,
 'mayweather': 11,
 'meme': 863,
 'sports': 2282,
 'toy': 382,
 'vs': 1454,
 'ultimate': 346,
 'slime': 347,
 'eat': 313,
 'wear': 12,
 'bf': 38,
 'gf': 20,
 'boyfriend': 622,
 'girlfriend': 645,
 'gone': 13,
 'wrong': 34,
 'food': 3616,
 'electric': 105,
 'try': 497,
 'not': 135,
 'cringe': 180,
 'laugh': 1244,
 'touch': 18,
 'body': 136,
 'war': 423,
 'compilation': 950,
 'Industrial Fan': 1,
 'Industrial Fan Destruction': 1,
 'Throwing Things into fan': 1,
 'breaking with fan': 1,
 'fan blade destruction': 1,
 '960 fps': 8,
 '480 fps': 6,
 'Rekt': 67,
 'Gunner': 10,
 'Gomez': 102,
 'Matthias': 161,
 'Hi5': 110,
 'Studios': 12,
 'Tanner': 10,
 'Malmedal': 10,
 'Hi5Studios': 65,
 'slow': 218,
 'motion': 176,
 'slomo': 211,
 'slowmo': 71,
 'dessin animÃ©': 82,
 'top 5': 1403,
 'top10': 388,
 'listes': 201,
 'lama fachÃ©': 226,
 'films': 511,
 'cinÃ©ma': 216,
 'acteur': 29,
 'incroyable': 348,
 'bande annonce': 176,
 'nouveau film': 5,
 'seance cinema': 4,
 'curiositÃ©': 60,
 '10 plus': 15,
 'tendances': 251,
 'faits': 169,
 'videos droles': 82,
 'PhillyD': 46,
 'Philly D': 48,
 'Vloggity': 46,
 'The Philip DeFranco Show': 59,
 'Philip DeFranco Show': 46,
 'DeFrancoElite': 46,
 'Vlog': 486,
 'Vlogger': 93,
 'Docuvlog': 46,
 'DeFranco Elite': 48,
 'YouTube': 984,
 'World Kindness Day': 2,
 'Respect': 16,
 'Polite': 2,
 'Giving': 4,
 'Conversation': 7,
 'kind': 56,
 'therapy': 273,
 'all the feels': 2,
 'face to face': 16,
 'kindness day': 2,
 'worst': 318,
 'worldkindnessday': 2,
 'body shaming': 5,
 'cheating': 91,
 'fatphobia': 2,
 'annoying': 19,
 'personality traits': 9,
 'body positivity': 44,
 'fat shaming': 2,
 'dogs': 419,
 'dog lover': 4,
 'feel good news': 2,
 'you are not alone': 29,
 'burning effigy': 2,
 'giving back': 2,
 'share the love': 40,
 'spread the love': 2,
 'Telefoon': 2,
 'Babbu Maan': 23,
 'Mehfil Mitran Di': 2,
 'new punjabi songs': 410,
 'The Babbu Maan Store': 2,
 'Hey Yolo': 2,
 'Swag Music': 2,
 'Latest Punjabi Songs 2017': 23,
 'Latest Punjabi Songs': 93,
 'new punjabi songs 2017': 103,
 'punjabi music 2017': 3,
 'punjabi movies 2017': 17,
 'punjabi movies songs 2017': 2,
 'punjabi songs 2017 latest': 15,
 'punjabi songs 2017 babbu maan': 2,
 'Delhi To Lahore': 2,
 'Babbu Maan Live': 2,
 'Babbu Maan Online': 2,
 'Samundar Babbu Maan': 2,
 'happy diwali': 2,
 'chandigarh': 3,
 'mohali': 5,
 'maan saab': 2,
 'Adapt': 9,
 'FaZeClan': 21,
 'FaZe Gaming': 9,
 'carpool karaoke': 71,
 'faze adapt': 7,
 'romvn': 2,
 'good mythical more': 149,
 'rhett and link good mythical more': 148,
 'good mythical more rhett and link': 148,
 'season 12': 56,
 'mythical dog party': 1,
 'mythical crew': 7,
 'rhett': 430,
 'link': 470,
 'gmmore': 3,
 'gmm crew': 16,
 'rhett link dog': 1,
 'rhett link dogs': 3,
 'party': 476,
 'nickelback rockstar': 1,
 'nickelback photograph': 1,
 'nickelback how you remind me': 1,
 'rescue dog': 30,
 'rescue dogs': 3,
 'adopted dog': 1,
 'adopted dogs': 1,
 'cute dog': 22,
 'cute dogs': 20,
 'dog': 922,
 'guys': 184,
 'keith': 34,
 'ned': 11,
 'zach': 22,
 'eugene': 36,
 'baking': 487,
 'great': 43,
 'british': 633,
 'competition': 678,
 'parody': 1455,
 'cooking': 1923,
 'bread': 108,
 'show': 3979,
 'recipe': 1331,
 'loaf': 3,
 'clark': 27,
 'street': 310,
 'english': 407,
 'mary': 17,
 'paul hollywood': 2,
 'flour': 2,
 'yeast': 6,
 'dough': 21,
 'bake': 133,
 'Papy grenier': 5,
 'Metal Gear Solid': 10,
 'PS1': 12,
 "Tirage d'oreille": 5,
 'Humour': 431,
 'retro Gaming': 5,
 'Joueur du Grenier': 5,
 'JDG': 5,
 'é©¬å…‹': 15,
 'è¿ªä¸½çƒ­å·´': 130,
 'éº»è¾£å˜å½¢è®¡': 15,
 'å†›æ—…': 15,
 'ç¾Žå¥³': 38,
 'æ„Ÿæƒ…': 35,
 'ç”µè§†å‰§': 23,
 'çƒ­æ’­': 15,
 'ç«è¾£': 15,
 'å¥³å†›': 15,
 'åˆ¶æœ': 18,
 'çŽ‹çžä¸¹': 32,
 'æ±ŸçŠ': 16,
 'å·©å³¥': 15,
 'wangluodan': 15,
 'jiangshan': 15,
 'kelan': 15,
 'kongzheng': 15,
 'Morning Joe': 151,
 'Joe Scarborough': 150,
 'Mika Brzezinski': 149,
 'Willie Geist': 142,
 'MSNBC': 371,
 'MSNBC news': 180,
 'MSNBC live': 174,
 'MSNBC TV': 176,
 'news': 6214,
 'breaking news': 1600,
 'current events': 559,
 'US news': 187,
 'politics': 2434,
 'politics news': 173,
 'political news': 285,
 'elections': 230,
 'president trump putin comments': 3,
 'president vladimir putin': 3,
 'russia meddling': 10,
 'vladimir putin': 36,
 'putin': 137,
 'president trump': 482,
 'trump in asia': 3,
 'trump in vietnam': 3,
 'apec 2017': 3,
 'russian': 112,
 'president putin': 3,
 'trump asia trip': 3,
 'election 2016': 12,
 'election hacking': 3,
 'Achievement Hunter': 52,
 'AH': 51,
 'video game': 432,
 'game': 2204,
 'gameplay': 1205,
 'game play': 55,
 'michael jones': 20,
 'ryan haywood': 25,
 'lindsay jones': 89,
 'gavin free': 130,
 'jeremy dooley': 30,
 'jack pattillo': 19,
 'extra life': 5,
 'cats': 753,
 'babies': 129,
 'million dollars but': 1,
 'jeff goldblum': 22,
 'thor ragnarok': 86,
 'justice league': 260,
 'xbox one x': 14,
 'sky factory': 1,
 'samuel jackson': 1,
 'spider man homecoming': 6,
 'ready player one': 189,
 'fuel': 13,
 'git gud': 21,
 'action league now': 1,
 'daria': 1,
 'cuphead': 73,
 'lion king': 43,
 'james buckley': 6,
 'alan ritchson': 1,
 'off topic': 25,
 'podcast': 1157,
 'last call': 7,
 'bar': 67,
 'hila': 11,
 'klein': 24,
 'hila klein': 30,
 'hila kleiner': 2,
 'hila klein from h3h3': 2,
 'h3h3': 431,
 'h3h3productions': 385,
 'h3 podcast': 218,
 'ethan and hila': 265,
 'sugar pine 7': 95,
 'steven suptic': 25,
 'autumn': 70,
 'parker': 23,
 'vape': 22,
 'vapers': 1,
 'danny duncan': 31,
 'danny duncan 69': 25,
 'kevin': 208,
 'danny duncan vlogs': 30,
 'danny duncan pranks': 14,
 'santa monica pier': 1,
 'jumping off santa monica pier': 1,
 'guy jumps off santa monica pier': 1,
 'pier jump fails': 1,
 'california': 188,
 'stunts': 68,
 'mcfly': 169,
 'carlito': 149,
 'golden moustache': 173,
 'fatshow': 100,
 'badass': 115,
 'dab': 139,
 "j'effectue le dab": 66,
 'on appelle des gens au hasard': 92,
 'le meilleur jeu en voiture': 87,
 'mcfly et carlito': 84,
 'mcfly & carlito': 69,
 "concours d'anecdotes": 44,
 'artificial intelligence': 140,
 'digital human': 1,
 'virtual assistant': 5,
 'machine learning': 36,
 'technology': 1119,
 'James Clapper': 8,
 'John Brennan': 3,
 'President Trump': 363,
 'Russia': 424,
 'Vladimir Putin': 47,
 'jake tapper': 53,
 'sotu': 3,
 'DNI': 4,
 'director of national intelligence': 2,
 'jeffree star': 254,
 'jeffree star cosmetics': 87,
 'jeffree star approved': 77,
 'velour liquid lipstick': 59,
 'lip ammunition': 38,
 'jeffreey star holiday 17 collection': 2,
 'holiday liquid lipstick': 2,
 'jeffree star liquid lipstick': 38,
 'limited edition makeup': 3,
 'medua liquid lip': 2,
 'mermaind blood liquid lip': 2,
 'velour lip scrub': 2,
 'black friday sale': 2,
 'skin frost pro palette': 2,
 'skin frost reveal': 2,
 'holiday luxury makeup': 2,
 'manny mua': 230,
 'laura lee': 123,
 'james charles': 477,
 'tati westbrook': 83,
 'fenty beauty': 123,
 'kkw beauty review': 26,
 'DNC Chairwoman Donna Brazile': 1,
 'Hacks': 130,
 'The Inside Story of the Break-ins and Breakdowns That Put Donald Trump in the White House': 1,
 'comedian': 3525,
 'Sarah Silverman': 18,
 'I Love You': 29,
 'America': 135,
 'Hulu': 16,
 'Michael Moore': 4,
 'Broadway': 35,
 'The Terms of My Surrender': 1,
 'Chris Matthews': 6,
 'Hardball with Chris Matthews': 5,
 'Bobby Kennedy': 1,
 'A Raging Spirit': 1,
 'kyle forgeard': 2,
 'jesse sebastiani': 2,
 'nelk kyle': 2,
 'nelk jesse': 2,
 'nelk prank': 2,
 'nelk tv show': 2,
 'nelk youtube': 2,
 'kyle forgeard wiki': 2,
 'jesse sebastiani wiki': 2,
 'kyle forgeard age': 2,
 'jesse sebestiani age': 2,
 'jesse sebestiani youtube': 2,
 'kyle forgeard youtube': 2,
 'nelk before they were famous': 2,
 'before they were famous': 14,
 'nelk coke prank': 2,
 'nelk boys': 2,
 'kyle forgeard instagram': 2,
 'jesse sebastiani instagram': 2,
 'Toronto Maple Leafs': 72,
 'Maple Leafs': 82,
 'Leafs': 88,
 'Boston Bruins': 6,
 'Morgan Rielly': 1,
 'James van Riemsdyk': 2,
 'Mitch Marner': 7,
 'Curtis McElhinney': 1,
 'Steve Dangle': 36,
 'squeezie doublage': 8,
 'squeezie batman': 2,
 'squeezie doublage dragon ball': 2,
 'squeezie doublage animÃ©s': 2,
 'squeezie vidÃ©o doublage': 2,
 'squeezie voix francaises': 2,
 'Ek Dil Ek Jaan Video Song': 8,
 "'Ek Dil Ek Jaan'": 8,
 'Ek Dil Ek Jaan Video': 8,
 'Padmavati': 37,
 'Padmavati songs': 20,
 'Padmavati movie song': 20,
 'deepika padukone': 89,
 'ranveer singh': 55,
 'ghoomar': 12,
 'padmavati song': 21,
 'Deepika Padukone': 77,
 'Shahid Kapoor': 69,
 'Sanjay Leela Bhansali': 69,
 'Padmavati Deepika Padukone': 20,
 'Ghoomar': 8,
 'Ghoomar Deepika Padukone': 8,
 'Padmavati Songs': 20,
 'new hindi songs': 144,
 'hindi songs': 147,
 'shahid kapoor': 54,
 'sanjay leela bhansali': 59,
 'indian songs': 107,
 'padmavati songs': 39,
 'love song': 131,
 'love song 2017': 8,
 'do dil ek jaan': 8,
 'è’™é¢å”±å°†çŒœçŒœçŒœç¬¬äºŒå­£': 5,
 'æ±Ÿè‹å«è§†': 88,
 'ç¿æ˜Ÿåˆ¶ä½œ': 5,
 'çœŸäººç§€': 15,
 'éŸ³ä¹': 34,
 'ç»¼è‰º': 119,
 'é™¶æ™¶èŽ¹': 5,
 'é™ˆå˜‰æ¡¦': 5,
 'å¤§å¼ ä¼Ÿ': 25,
 'å·«å¯è´¤': 5,
 'æŽå“': 8,
 'å¼ æ™ºéœ–': 5,
 'é»„æ™“æ˜Ž': 69,
 'èŒƒçŽ®çª': 6,
 'æˆæ–¹åœ†': 5,
 'æŽè£æµ©': 11,
 'æž—ä¿Šæ°': 38,
 'éƒ‘æº': 94,
 'é»Žæ˜Ž': 11,
 'é™¶å–†': 6,
 'å‘¨ä¼ é›„': 5,
 'è±è±': 5,
 'å‰å…‹éš½é€¸': 5,
 'æœå¾·ä¼Ÿ': 5,
 'é©¬ä¸½': 7,
 'è‹æ…§ä¼¦': 5,
 'åˆ˜ç»´': 13,
 'æŽæ…§ç': 5,
 'è–›ä¹‹è°¦': 12,
 'æ±ªè‹æ³·': 9,
 'å­™æ¨': 7,
 'é»„ä¸½çŽ²': 9,
 'å‘¨ç¬”ç•…': 7,
 'é™ˆæ´ä»ª': 15,
 'è…¾æ ¼å°”': 68,
 'é™ˆæ¢“ç«¥': 5,
 'é›ªæ‘': 5,
 'éœå°Š': 11,
 'GAI': 5,
 'æ–¯ç´ æ ¼æ—¥ä¹': 2,
 'å¸¸çŸ³ç£Š': 5,
 'æ½˜ç²¤ æ˜Ž': 2,
 'taojingying': 5,
 'Ella': 41,
 'dazhangwei': 5,

------------------------------

#### 9. Find the tags with the largest number of videos

In [ ]:
top_10 = sorted(diz_tag.items(), key=lambda x: x[1], reverse=True)[:10]
top_10

[('funny', 14573),
 ('comedy', 11968),
 ('2018', 11224),
 ('news', 6214),
 ('music', 5845),
 ('2017', 5652),
 ('video', 5536),
 ('humor', 5026),
 ('review', 4021),
 ('television', 4011)]

-------------------------------

#### 10. For each (tag, country) pair, compute average ratio likes/dislikes

In [ ]:
df_all_tag = df_all_norm.copy()
df_all_tag = df_all_tag[["tags", "country", "like_ratio"]]

In [ ]:
df_all_tag["tags_list"] = df_all_tag["tags"].str.split("|")
df_tags = df_all_tag.explode("tags_list") # creates a row for each tag after the split
df_tags = df_tags.replace(to_replace=["","[none]"], value=np.nan)

In [ ]:
df_result = df_tags.groupby(["tags_list", "country"])[["like_ratio"]].mean().reset_index()
df_result = df_result.rename(columns = {"like_ratio" : "mean_like_ratio"})
df_result.head()

          tags_list country  mean_like_ratio
0      #Freeticket"      IN         0.727197
1             #GST       IN         0.707337
2        #Jaisimha       IN         0.727197
3   #JanaSenaParty       IN         0.946263
4       #MahaaNews"      IN         0.894829

----------------------------

#### 11. For each (trending_date, country) pair, the video with the largest number of views

In [ ]:
df_all_norm["trending_date"] = pd.to_datetime(df_all_norm["trending_date"], format="%y.%d.%m")

In [ ]:
id_max = df_all_norm.groupby(["trending_date", "country"])["views"].idxmax()
df_all_norm.loc[id_max, ["trending_date", "country", "video_id", "title", "views"]][:10]

,trending_date,country,video_id,title,views
4,2017-11-14,CA,2Vv-BfVoq4g,Ed Sheeran - Perfect (Official Music Video),33523622
40912,2017-11-14,DE,2Vv-BfVoq4g,Ed Sheeran - Perfect (Official Music Video),33523622
81895,2017-11-14,FR,2Vv-BfVoq4g,Ed Sheeran - Perfect (Official Music Video),33523622
122451,2017-11-14,GB,2Vv-BfVoq4g,Ed Sheeran - Perfect (Official Music Video),33523622
161378,2017-11-14,IN,ePO5M5DE01I,Tiger Zinda Hai | Official Trailer | Salman Kh...,35885754
219394,2017-11-14,KR,n1WpP7iowLc,Eminem - Walk On Water (Audio) ft. BeyoncÃ©,17158579
253980,2017-11-14,MX,JzCsM1vtn78,THE LOGANG MADE HISTORY. LOL. AGAIN.,4477587
294429,2017-11-14,RU,U_4BLnJuR3g,12 Ð»Ð°Ð¹Ñ„Ñ…Ð°ÐºÐ¾Ð² Ñ Ñ‚ÐµÑ€Ð¼Ð¾ÐºÐ»ÐµÐµÐ¼ Ð´Ð»Ñ Ñ…ÐµÐ½Ð´Ð¼ÐµÐ¹Ð´Ð°,2109573
335063,2017-11-14,US,2Vv-BfVoq4g,Ed Sheeran - Perfect (Official Music Video),33523622
282,2017-11-15,CA,2Vv-BfVoq4g,Ed Sheeran - Perfect (Official Music Video),39082222

----------------------------------

#### 12. Divide trending_date into three columns: year, month, day

In [ ]:
df_all_norm["trending_year"] = df_all_norm["trending_date"].dt.year
df_all_norm["trending_month"] = df_all_norm["trending_date"].dt.month
df_all_norm["trending_day"] = df_all_norm["trending_date"].dt.day

-------------------------

#### 13. For each (month, country) pair, the video with the largest number of views

In [ ]:
id_max_mc = df_all_norm.groupby(["trending_month", "country"])["views"].idxmax()
df_all_norm.loc[id_max_mc, ["trending_month", "country", "video_id", "title", "views"]][:10]

,trending_month,country,video_id,title,views
11214,1,CA,LsoLEjrDogU,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,43067983
51930,1,DE,LsoLEjrDogU,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,37728802
92853,1,FR,LsoLEjrDogU,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,37728802
135208,1,GB,LsoLEjrDogU,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,90598955
173405,1,IN,dfnCAmr569k,"Taylor Swift - End Game ft. Ed Sheeran, Future",42019590
228682,1,KR,LsoLEjrDogU,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,37728802
264769,1,MX,LsoLEjrDogU,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,31680160
306098,1,RU,dfnCAmr569k,"Taylor Swift - End Game ft. Ed Sheeran, Future",23198594
346578,1,US,LsoLEjrDogU,Bruno Mars - Finesse (Remix) [Feat. Cardi B] [...,57951412
20055,2,CA,xpVfcZ0ZcFM,Drake - Godâ€™s Plan,47362934

------------------------------

#### 14. Read all json files with the video categories

In [ ]:
countries = ["CA", "DE", "FR", "GB", "IN", "JP", "KR", "MX", "RU", "US"]
dfs2 = {}

for element in countries:
    path = fr"C:\Users\chiar\OneDrive\Desktop\foundation of computer science\trendingYT\{element}_category_id.json"
    print("Reading:", path)

    with open(path, "r", encoding="utf-8") as f:
        data = json.load(f)
        df_json = pd.json_normalize(data["items"])
        
        df_json["country"] = element
        
        # Salva il DataFrame nel dizionario
        dfs2[element] = df_json

Reading: C:\Users\chiar\OneDrive\Desktop\foundation of computer science\trendingYT\CA_category_id.json
Reading: C:\Users\chiar\OneDrive\Desktop\foundation of computer science\trendingYT\DE_category_id.json
Reading: C:\Users\chiar\OneDrive\Desktop\foundation of computer science\trendingYT\FR_category_id.json
Reading: C:\Users\chiar\OneDrive\Desktop\foundation of computer science\trendingYT\GB_category_id.json
Reading: C:\Users\chiar\OneDrive\Desktop\foundation of computer science\trendingYT\IN_category_id.json
Reading: C:\Users\chiar\OneDrive\Desktop\foundation of computer science\trendingYT\JP_category_id.json
Reading: C:\Users\chiar\OneDrive\Desktop\foundation of computer science\trendingYT\KR_category_id.json
Reading: C:\Users\chiar\OneDrive\Desktop\foundation of computer science\trendingYT\MX_category_id.json
Reading: C:\Users\chiar\OneDrive\Desktop\foundation of computer science\trendingYT\RU_category_id.json
Reading: C:\Users\chiar\OneDrive\Desktop\foundation of computer science\trendingYT\US_category_id.json

------------------

#### 15: For each country, determine how many videos have a category that is not assignable.

In [ ]:
df_all_json = pd.concat(dfs2.values(), ignore_index=True) # concatenation of all datasets from the dictionary
df_all_json.head()

,kind,etag,id,snippet.channelId,snippet.title,snippet.assignable,country
0,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/Xy1mB4_yLrHy_BmKm...",1,UCBR8-60-B28hp2BmDPdntcQ,Film & Animation,True,CA
1,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/UZ1oLIIz2dxIhO45Z...",2,UCBR8-60-B28hp2BmDPdntcQ,Autos & Vehicles,True,CA
2,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/nqRIq97-xe5XRZTxb...",10,UCBR8-60-B28hp2BmDPdntcQ,Music,True,CA
3,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/HwXKamM1Q20q9BN-o...",15,UCBR8-60-B28hp2BmDPdntcQ,Pets & Animals,True,CA
4,youtube#videoCategory,"""ld9biNPKjAjgjV7EZ4EKeEGrhao/9GQMSRjrZdHeb1OEM...",17,UCBR8-60-B28hp2BmDPdntcQ,Sports,True,CA

In [ ]:
df_all_json["snippet.assignable"] = df_all_json["snippet.assignable"].astype(bool)
print(df_all_json["snippet.assignable"].value_counts())

snippet.assignable
False    170
True     141
Name: count, dtype: int64

In [ ]:
print(df_all_json["id"].dtype)
df_all_json["id"] = df_all_json["id"].astype(int)
print(df_all_json["id"].dtype)

object
int32

In [ ]:
df_all_json = df_all_json.rename(columns={"id": "category_id"}) # rename to prepare for a merge
merged = pd.merge(df_all_norm, df_all_json, on = ["category_id", "country"] , how="left" )

In [ ]:
merged[merged["snippet.assignable"] == False].groupby(["country"])[["video_id"]].count().reset_index()

  country  video_id
0      CA       130
1      DE       110
2      FR       112
3      GB        20
4      IN       159
5      KR       159
6      MX         3
7      RU       194
8      US        57

In [ ]:
merged["snippet.assignable"].value_counts(dropna=False)

snippet.assignable
True     357333
NaN        2657
False       944
Name: count, dtype: int64

da ricontrollare perchÃ¨ ci sono 2657 righe in cui non Ã¨ stato assegnato un valore per snippet.assignable durante il merge